<%- include('../partials/head') %>
<%- include('../partials/header') %>

<div class="container">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><% game.game %> <%= game.game_id %></h5>
                    <form>
                        <form action="http://localhost:3000/game/edit/<%= game.game_id %>" method="post">
                            <h5 class="card-title"><% game.name %> </h5>
                            Game Name: <input type="text" name="name"/>
                            <div>
                            Duratrion: <input type="text" name="duration"/>
                            </div>
                            <div> 
                                Team size: <input type="text" name="Team size"/>
                            </div>
                       
                            <button type="submit" class="btn btn-outline-secondary"> save changes </button>
                        </form>
                        <a href="/game/"><button type="button" class="btn btn-outline-secondary" id="back">back</button></a>
                    </form>
                    <form action="http://localhost:3000/game/delete/<%= game.game_id %>" method="post">
                        <button type="submit" class="btn btn-outline-secondary">delete game</button>
                    </form>

                </div>
            </div>
        </div>
</div>

<%- include('../partials/footer') %>