<%- include('../partials/head') %>
<%- include('../partials/header') %>
<h1><u>players</u></h1> 
<a href="/addPlayer/"><button type="button" class="btn btn-outline-secondary" >add player</button></a>
<div class="container">
    <% playerArray.forEach((player)=> { %>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><%= player.name %></h5>
                    
                    <a href="/player/<%= player.player_id %>"><button type="button" class="btn btn-outline-secondary" >edit</button></a>
                </div>
            </div>
        </div>
    <% }) %>   
</div>

<style>
h1 {
   text-align:center;
}
.col-4 {
    text-align: left;
}
.btn.btn-outline-secondary{
    text-align:center;
}





</style>
<%- include('../partials/footer') %>